<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriverDownloader.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DriverDownloader.Core.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DriverDownloader.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DriverDownloader.Core.Settings>
            <setting name="AllChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatedOnlyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="concurrentMaxJobs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LatestDriversChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxRateOnTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimesToWork" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkOnlyOnSpecifiedTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRate" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="EnabledLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxSegments" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinSegmentLeftToStartNewSegment" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinSegmentSize" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="downloadURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value />
            </setting>
        </DriverDownloader.Core.Settings>
        <DriverDownloader.Core.Properties.Settings1>
            <setting name="EnglishLanguage" serializeAs="String">
                <value>True</value>
            </setting>
        </DriverDownloader.Core.Properties.Settings1>
        <DriverDownloader.Core.Properties.Settings>
            <setting name="EnglishLanguage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
        </DriverDownloader.Core.Properties.Settings>
    </userSettings>
</configuration>